{% extends 'main.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock css %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <div class="from">
    <h3>Sign up</h3>
    <div class="login">
      {% for field in form %}
        {% if field.label != 'Remember me' %}
          {{field}}
        {% endif %}
      {% endfor %}
    </div>
    <div class="suggests">
      <div class="remember">
        {% for field in form %}
          {% if field.label == 'Remember me' %}
            {{field}}
          {% endif %}
        {% endfor %}
        <label for="id_remember_me">Remember me</label>
      </div>
    </div>
    <button type="submit">Sign up</button>
    <p>Haven't you logged in yet? <a href="{% url 'login_page' %}">Login</a></p>
  </div>
</form>
{% endblock content %}